<!-- Footer -->
<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            <!-- <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">
                Copyright &copy; 2025
                <a href="." class="link-secondary">M-CMP</a>.
                All rights reserved.
                </li>
                <li class="list-inline-item">
                <a href="./changelog.html" class="link-secondary" rel="noopener">
                    v0.4.10
                </a>
                </li>
                <li class="list-inline-item">
                <a href="/webconsole/dev/apimanagement" class="link-secondary" rel="noopener" title="Developer Tools">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-api" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 13h5" /><path d="M12 16v-8h3a2 2 0 0 1 2 2v1a2 2 0 0 1 -2 2h-3" /><path d="M20 8v8" /><path d="M9 16v-5.5a2.5 2.5 0 0 0 -5 0v5.5" /></svg>
                    API Management
                </a>
                </li>
            </ul> -->
            </div>
        </div>
    </div>
</footer>